<h2 class="h1 font-weight-bold text-center" style="padding-top: 150px">Contact</h2>
    <p class="text-center w-responsive mx-auto mb-5">Voici la séction contact</p>
    <div class="container">
    <div class="row">
  
      <div class="col-md-12 text-center">
        <ul class="list-unstyled mb-0">
          <li><i class="fas fa-map-marker-alt fa-2x"></i>
            <p> 5 place de la baleine, 69005, Lyon</p>
          </li>

          <li><i class="fas fa-phone mt-4 fa-2x"></i>
            <p>07 67 13 79 31</p>
          </li>

          <li><i class="fas fa-envelope mt-4 fa-2x bd"></i>
            <p>superhugh92@gmail.com</p>
          </li>
          <li><i class="fas fa-envelope mt-4 fa-2x"></i>
            <p>WWW.rarb17.com</p>
          </li>
        </ul>
      </div>
    </div>
     </div>
© 2021 GitHub, Inc.
Terms
Privacy
Security
